
@{
    ViewBag.Title = "Product";
    Layout = "~/Views/Shared/_LayoutPro.cshtml";
}

<link href="~/Content/DetailStyle.css" rel="stylesheet" />
<div class="container">
    <div style=" margin: 0 auto;text-align:center;">
        <a href="http://nhanam.com.vn/combo-sach-null/null"> <img src="~/Images/slide-wrapper.jpg" style="width: 1000px;"/></a>
    </div>
    <h1 class="pagetitle">
        <a href="~/Views/Home/Product.cshtml">
            Sách mới - Tái bản
        </a>
    </h1>
</div>
<ul class="listbookP clearfix">
    <li class="bookP">
        <img src="~/Images/book1.jpg" />
    </li>
    <li class="bookP">
        <img src="~/Images/book2.jpg" />
    </li>
    <li class="bookP">
        <img src="~/Images/book3.jpg" />
    </li>
    <li class="bookP">
        <img src="~/Images/book4.jpg" />
    </li>
    <li class="bookP">
        <img src="~/Images/book5.jpg" />
    </li>
    <li class="bookP">
        <img src="~/Images/book6.jpg" />
    </li>
    <li class="bookP">
        <img src="~/Images/book7.jpg" />
    </li>
    <li class="bookP">
        <img src="~/Images/book1.jpg" />
    </li>
    <li class="bookP">
        <img src="~/Images/book2.jpg" />
    </li>
    <li class="bookP">
        <img src="~/Images/book3.jpg" />
    </li>
    <li class="bookP">
        <img src="~/Images/book4.jpg" />
    </li>
    <li class="bookP">
        <img src="~/Images/book5.jpg" />
    </li>
    <li class="bookP">
        <img src="~/Images/book6.jpg" />
    </li>
    <li class="bookP">
        <img src="~/Images/book7.jpg" />
    </li>
    <li class="bookP">
        <img src="~/Images/book1.jpg" />
    </li>

</ul>