
@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_Detail.cshtml";
}
<link href="~/Content/StylePro.css" rel="stylesheet" />

<div id="div-top4" style="max-height: unset; padding-top: 10px; ">
    <div class="container">
        <div class="bookdetailwrap">
            <div class="detail">
                <a class="image image0">
                    <img src="~/Images/book1.jpg" alt="Lời của Nietzche cho người trẻ - Tập 2" />
                    <div class="info">
                        <h1 style=" font-size: 16px; line-height: 25px; width: 357px; height: 18px;">Lời của Nietzche cho người trẻ - Tập 2</h1>
                        <div class="attributes">
                            <ul>
                                <li>
                                </li>
                            </ul>

                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>