
@{
    ViewBag.Title = "GioiThieu";
    Layout = "~/Views/Shared/_LayoutPro.cshtml";
}
<link href="~/Content/StylePro.css" rel="stylesheet" />

<style>

</style>
<div id="div-top4" style=" padding-top: 80px; max-height: unset">
    <div class="book-detail" style="display: flex; flex-wrap: wrap; list-style: none; margin: 10px auto 0; padding: 0 30px; width: 1200px; ">
        <h3>GIỚI THIỆU</h3>
        <p>
            Công ty cổ phần Văn hóa và Truyền thông Nhã Nam
            Tháng 2 năm 2005, Nhã Nam, tên đầy đủ là Công ty Cổ phần Văn hóa và
            Truyền thông Nhã Nam đã gia nhập thị trường sách. Tác phẩm "Balzac và cô bé thợ may Trung hoa"
            của Đới Tư Kiệt là cuốn sách đầu tiên được những người sáng lập Nhã Nam xuất bản cả trước khi công ty ra đời.
            Ngay lập tức từ cuốn sách đầu tiên, độc giả đã dành sự quan tâm và yêu mến cho một thương hiệu sách mới mẻ
            mang trong mình khát vọng góp phần tạo lập diện mạo mới cho xuất bản văn học tại Việt Nam.
        </p>
    </div>
</div>
