
@{
    ViewBag.Title = "Test";
    Layout = "~/Views/Shared/_LayoutPro.cshtml";
}
<link href="~/Content/StylePro.css" rel="stylesheet" />
<style>
    .headline{
        text-align: center;
    }

</style>
<div id="div-top4" style="max-height: unset; padding-top: 80px; " >
    <ul id="div-pro-list" style="display: flex; flex-wrap: wrap; list-style:none; margin: 10px auto 0; padding: 0 30px; width:1200px;">
        <li class="box-pro">
            <img src="~/Images/book1.jpg" class="size-img">
        </li>
        <li class="box-pro">
            <img src="~/Images/book1.jpg" class="size-img">
        </li>
        <li class="box-pro">
            <img src="~/Images/book1.jpg" class="size-img">
        </li>
        <li class="box-pro">
            <img src="~/Images/book3.jpg" class="size-img">
        </li>
        <li class="box-pro">
            <img src="~/Images/book2.jpg" class="size-img">
        </li>
        <li class="box-pro">
            <img src="~/Images/book2.jpg" class="size-img">
        </li>
    </ul>
</div>


